<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.afrikaizen.capstone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.AuthActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.TransactionActivity"
            android:label="Transactions"></activity>
        <activity
            android:name=".activities.PaymentPlanActivity"
            android:label="@string/plans"></activity>
        <activity
            android:name=".activities.AccountActivity"
            android:label="@string/accounts"></activity>
        <activity
            android:name=".activities.contacts.ui.ContactsListActivity"
            android:label="@string/activity_contacts_list"
            android:windowSoftInputMode="adjustResize">

            <!--
                 Add intent-filter for search intent action and specify searchable configuration
                 via meta-data tag. This allows this activity to receive search intents via the
                 system hooks. In this sample this is only used on older OS versions (pre-Honeycomb)
                 via the activity search dialog. See the Search API guide for more information:
                 http://developer.android.com/guide/topics/search/search-dialog.html
            -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts" />
        </activity>
        <activity
            android:name=".activities.contacts.ui.ContactDetailActivity"
            android:label="@string/activity_contact_detail"
            android:parentActivityName=".activities.contacts.ui.ContactsListActivity">

            <!--
                 Define hierarchical parent of this activity, both via the system
                 parentActivityName attribute (added in API Level 16) and via meta-data annotation.
                 This allows use of the support library NavUtils class in a way that works over
                 all Android versions. See the "Tasks and Back Stack" guide for more information:
                 http://developer.android.com/guide/components/tasks-and-back-stack.html
            -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.contacts.ui.ContactDetailActivity" />
        </activity>
        <activity
            android:name="com.codinguser.android.contactpicker.ContactsPickerActivity"
            android:theme="@style/ContactsTheme">

            <!--
             Add intent-filter for search intent action and specify searchable configuration
             via meta-data tag. This allows this activity to receive search intents via the
             system hooks. In this sample this is only used on older OS versions (pre-Honeycomb)
             via the activity search dialog. See the Search API guide for more information:
             http://developer.android.com/guide/topics/search/search-dialog.html
            -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts" />
        </activity>
        <activity
            android:name=".activities.PaymentHistoryActivity"
            android:label="Payment History"></activity>

        <service
            android:name="com.tuenti.smsradar.SmsRadarService"
            android:label="@string/app_name" />

        <activity
            android:name=".activities.StatusActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".activities.InvoicesActivity"
            android:label="Invoices"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:theme="@style/ContactsTheme"
            android:name=".activities.SettingsActivity"
            android:label="App Settings"></activity>
        <activity
            android:name=".activities.OutgoingTransactionsActivity"
            android:label="App Settings"></activity>
        <activity
            android:name=".activities.OutgoingTransactionsListActivity"
            android:label="Outgoing Transactions"></activity>
        <activity
            android:name=".activities.AuditTrailActivity"
            android:label="Audit Log"></activity>
    </application>

</manifest>